.chat-side
  .side-bar__user-name
    .top-items
      %p.top-items__name hiroki
      .top-items__icons 
        = link_to "#", class: "Contents__btn1" do
          <i class='far fa-edit'></i>
        = link_to "#", class: "Contents__btn2" do
          <i class='fas fa-cog'></i>
          
  .side-bar__group-list
    %h2.group-name techcamp
    %p.group-text まだメッセージがありません
    %h2.group-name サッカー
    %p.group-text こんばんは！
    
    
